.row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;
}

#rowJuegos {
    width: 100vw;
    background-color: rgb(248, 244, 248);
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    height: auto;
    width: 230px;
}

.card-img-top {
    width: 200px;
    height: 300px;
    margin-top: 16px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-body {
    padding: 1.25rem;
    margin-bottom: -10px;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-text:last-child {
    margin-bottom: 0;
}

button {
    background-color: #ffffff;
    color: #72c05b;
    border-style: solid;
    border-radius: 20px;
    border-color: #72c05b;
    margin-top: 10px;
}
button:hover{
    background-color: #72c05b;
    color: #ffffff;
}